<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:uses-featureandroid="http://schemas.android.com/tools"
    package="com.jackson.ccc.test">

    <uses-sdk android:minSdkVersion="8"></uses-sdk>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.jackson.ccc.test.permission.MMOAUTH_CALLBACK" />
    <uses-permission android:name="com.jackson.ccc.test.permission.MM_MESSAGE" />
    <!--<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/grow108"
        android:label="@string/growup"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Anim"
            android:label="@string/changda">

        </activity>

        <activity
            android:name="com.jackson.ccc.gridview.AddLost"
            android:label="@string/activities">

        </activity>

        <activity
            android:name="com.jackson.ccc.gridview.Agora_"
            android:label="@string/agora">

        </activity>
        <activity
            android:name="com.jackson.ccc.gridview.Agora"
            android:label="@string/agora">

        </activity>

        <activity
            android:name="com.jackson.ccc.gridview.ClassList_"
            android:label="@string/classlist">

        </activity>
        <activity
            android:name="com.jackson.ccc.gridview.ClassList"
            android:label="@string/classlist">

        </activity>
        <activity
            android:name="com.jackson.ccc.gridview.Grade"
            android:label="@string/grade">

        </activity>
        <activity
            android:name="com.jackson.ccc.gridview.Lost_"
            android:label="@string/lost">

        </activity>
        <activity
            android:name="com.jackson.ccc.gridview.Lost"
            android:label="@string/lost">

        </activity>
        <activity
            android:name="com.jackson.ccc.gridview.News"
            android:label="@string/news">

        </activity>
        <activity
            android:name="com.jackson.ccc.gridview.SunService"
            android:label="@string/sunService">

        </activity>
        <activity
            android:name="com.jackson.ccc.http.XmlActivity"
            android:label="Xml">

        </activity>
        <activity
            android:name="com.jackson.ccc.gridview.Activities"
            android:label="Activities">

        </activity>
        <activity
            android:name="com.jackson.ccc.http.OkHttpActivity"
            android:label="OkHttp">

        </activity>
        <activity
            android:name="com.jackson.ccc.upload.MyActivity"
            android:label="下载图片">

        </activity>
        <activity
            android:name="com.jackson.ccc.prasehtml.PraseHtmlActivity"
            android:label="解析html代码">

        </activity>
        <activity
            android:name="com.jackson.ccc.prasehtml.DetailActivity"
            android:label="博客详细内容">

        </activity>
        <activity android:name="com.jackson.ccc.http.TackPicture" />
        <activity android:name="com.jackson.ccc.gridview.AddActivities_" />
        <activity android:name="com.jackson.ccc.gridview.AddActivities" />
        <activity android:name="com.jackson.ccc.gridview.AddAgora" />
        <activity android:name="com.jackson.ccc.gridview.AddNews" />
        <meta-data android:name="UMENG_CHANNEL" android:value="{wandoujia}"/>
        <!-- 请将value改为MTA分配的appkey，即开放平台appid加上“Aqc”前缀 < -->
        <!--appsect:608a966faae053e6292cda12cb45c6a7
        608a966faae053e6292cda12cb45c6a7
        <meta-data android:name="TA_APPKEY" android:value="Aqc123456"/>-->
        <receiver
            android:name="com.tencent.mm.sdk.plugin.MMPluginOAuth$Receiver"
            android:permission="com.tencent.mm.oauth.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.sdk.plugin.Intent.ACTION_RESPONSE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.tencent.mm.sdk.channel.MMessage$Receiver"
            android:permission="com.tencent.mm.plugin.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.sdk.channel.Intent.ACTION_MESSAGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>